@{
    Layout = "~/Views/Shared/Layoutbai.cshtml";
}
<section class="main-content">
	<div class="row">
		<div class="span9">
			<ul class="thumbnails listing-products" id="noidung">
				@foreach(var item in ViewBag.HienThi)
				{
					<li class="span3">
						<div class="product-box">
							<a asp-action="ChiTietSanPham" asp-route-id="@item.MaSanPham"><img alt="" src="@Url.Content("quanao/"+item.AnhDaiDien)" style="height:300px"></a><br>
							<a asp-action="ChiTietSanPham" asp-route-id="@item.MaSanPham" class="title">@item.TenSanPham</a><br>
							<a href="#" class="category">@item.MoTaNgan</a>
							<p class="price">$@item.GiaNhap</p>
						</div>
					</li>
				}
			</ul>
			<hr>
			<div class="pagination pagination-small pagination-centered">
				<ul id="pagination">
					<li><a href="#" id="prevPage">Prev</a></li>
					<li><a href="#" class="page-num" data-page="1">1</a></li>
					<li><a href="#" class="page-num" data-page="2">2</a></li>
					<li><a href="#" class="page-num" data-page="3">3</a></li>
					<li><a href="#" class="page-num" data-page="4">4</a></li>
					<li><a href="#" id="nextPage">Next</a></li>
				</ul>
			</div>
		</div>
		<div class="span3 col">
			<div class="block">
				<ul class="nav nav-list">
					<li class="nav-header">SUB CATEGORIES</li>
					<li><a href="products.html">Nullam semper elementum</a></li>
					<li class="active"><a href="products.html">Phasellus ultricies</a></li>
					<li><a href="products.html">Donec laoreet dui</a></li>
					<li><a href="products.html">Nullam semper elementum</a></li>
					<li><a href="products.html">Phasellus ultricies</a></li>
					<li><a href="products.html">Donec laoreet dui</a></li>
				</ul>
				<br>
				<ul class="nav nav-list below">
					<li class="nav-header">MANUFACTURES</li>
					<li><a href="products.html">Adidas</a></li>
					<li><a href="products.html">Nike</a></li>
					<li><a href="products.html">Dunlop</a></li>
					<li><a href="products.html">Yamaha</a></li>
				</ul>
			</div>
			<div class="block">
				<h4 class="title">
					<span class="pull-left"><span class="text">Randomize</span></span>
					<span class="pull-right">
						<a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
					</span>
				</h4>
				<div id="myCarousel" class="carousel slide">
					<div class="carousel-inner">
						<div class="active item">
							<ul class="thumbnails listing-products">
								<li class="span3">
									<div class="product-box">
										<span class="sale_tag"></span>
										<img alt="" src="themes/images/ladies/1.jpg"><br>
										<a href="product_detail.html" class="title">Fusce id molestie massa</a><br>
										<a href="#" class="category">Suspendisse aliquet</a>
										<p class="price">$261</p>
									</div>
								</li>
							</ul>
						</div>
						<div class="item">
							<ul class="thumbnails listing-products">
								<li class="span3">
									<div class="product-box">
										<img alt="" src="themes/images/ladies/2.jpg"><br>
										<a href="product_detail.html" class="title">Tempor sem sodales</a><br>
										<a href="#" class="category">Urna nec lectus mollis</a>
										<p class="price">$134</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="block">
				<h4 class="title"><strong>Best</strong> Seller</h4>
				<ul class="small-product">
					<li>
						<a href="#" title="Praesent tempor sem sodales">
							<img src="themes/images/ladies/3.jpg" alt="Praesent tempor sem sodales">
						</a>
						<a href="#">Praesent tempor sem</a>
					</li>
					<li>
						<a href="#" title="Luctus quam ultrices rutrum">
							<img src="themes/images/ladies/4.jpg" alt="Luctus quam ultrices rutrum">
						</a>
						<a href="#">Luctus quam ultrices rutrum</a>
					</li>
					<li>
						<a href="#" title="Fusce id molestie massa">
							<img src="themes/images/ladies/5.jpg" alt="Fusce id molestie massa">
						</a>
						<a href="#">Fusce id molestie massa</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>


<script>

	$(document).ready(function () {
        $('.danhsachchinh').click(function () {
			var danhsachchinh = $(this).children("span").remove().end().text();
		   //loai bo ki tu thua thai
		   console.log(danhsachchinh);
			$.ajax({
				url: '@Url.Action("PhanLoaiAPI","Home")',
				type: 'GET',
				data: { danhsachchinh: danhsachchinh },
				success: function (data) {
					console.log(data);
					$('#noidung').html(data);
                }
			});
        });
		$('.danhsachphu').click(function () {
			var danhsachphu = $(this).children("span").remove().end().text();
			//loai bo ki tu thua thai
			console.log(danhsachphu);
			$.ajax({
				url: '@Url.Action("PhanLoaiPhuAPI", "Home")',
				type: 'GET',
				data: { danhsachphu: danhsachphu },
				success: function (data) {
					console.log(data);
					$('#noidung').html(data);
				}
			});
		});
		//phan trang san pham

    });
	$(document).ready(function () {
		var currentPage = 1;
		var pageSize = 6;

		function loadProducts(page) {
			$.ajax({
				url: '@Url.Action("GetPagedProducts", "Home")',
				data: { page: page, pageSize: pageSize },
				success: function (data) {
					$('#noidung').html(data);
					$('#pagination .page-num').removeClass('active');
					$('#pagination .page-num[data-page=' + page + ']').addClass('active');

					$('#prevPage').prop('disabled', page == 1);
					$('#nextPage').prop('disabled', page == data.TotalPages);
				}
			});
		}

		// Load products when a page number is clicked
		$(document).on('click', '.page-num', function (e) {
			e.preventDefault();
			currentPage = $(this).data('page');
			loadProducts(currentPage);
		});

		// Load next page
		$('#nextPage').click(function (e) {
			e.preventDefault();
			if (currentPage < 4) { // Update this to total pages from server
				currentPage++;
				loadProducts(currentPage);
			}
		});

		// Load previous page
		$('#prevPage').click(function (e) {
			e.preventDefault();
			if (currentPage > 1) {
				currentPage--;
				loadProducts(currentPage);
			}
		});
		// Initial load
		loadProducts(currentPage);
	});
</script>

